<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>

<body>

  <% include nav-var.html%>

    <h1>Analizador Lexico</h1>
    
    <h3><span style="color: #052e74; font-family: Glacial Indifference;">Datos
            Personales</span></h3>
        <table style="width: 905px; height: 120px;" border="1" class="table">
          <tbody>
            <tr>
              <td style="height: 23px; width: 455px;"><span style="font-family: Glacial Indifference;"><b><span
                      style="color: #052e74;">Carnet<br>
                    </span></b></span></td>
              <td style="width: 715px;"><span style="font-family: Glacial Indifference;"><span
                    style="color: #052e74;">201730303<br>
                  </span></span></td>
            </tr>
            <tr>
              <td><span style="font-family: Glacial Indifference;"><b><span style="color: #052e74;">Nombre<br>
                    </span></b></span></td>
              <td><span style="font-family: Glacial Indifference;"><span style="color: #052e74;">Kevin
                    Josue Fuentes Villatoro<br>
                  </span></span></td>
            </tr>
            <tr>
              <td><span style="font-family: Glacial Indifference;"><b><span style="color: #052e74;">Carrera<br>
                    </span></b></span></td>
              <td><span style="font-family: Glacial Indifference;"><span style="color: #052e74;">Ingenieria
                    en Ciencias y Sistemas<br>
                  </span></span></td>
            </tr>
            <tr>
              <td><span style="font-family: Glacial Indifference;"><b><span style="color: #052e74;">Curso<br>
                    </span></b></span></td>
              <td><span style="font-family: Glacial Indifference;"><span style="color: #052e74;">Lenguajes
                    formales y de programación<br>
                  </span></span></td>
            </tr>
          </tbody>
        </table>
        <p><br>
        </p>

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <% include footer.html%>
</body>
</html>