<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingreso del archivo</title>
</head>
<body>
    <% include nav-var.html%>
    <p>Seleccionar Archivo</p><br>
    <input type="file" id="file"/>
    <br>
    <textarea class="textarea"  name="textArea" id="contenido" cols="60" rows="15" disabled="true"></textarea>
    <br>
    <button class="btn btn-primary" id="botonEnviar">Enviar</button>

    <% include footer.html %>
    <script src="/ingreso.js"></script>
</body>
</html>